<header>
  <a
    id="start_stickyBanner"
    class="sticky-banner text-white text-center d-flex justify-content-center align-items-center"
    href="/establishment-todo-list"
    style="
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 42px;
      z-index: 1050;
      transition: top 0.3s ease;
      cursor: pointer;
      text-decoration: none;
      font-size: 14px;
    "
  >
    <img
      src="https://res.cloudinary.com/zuzu/image/upload/f_auto,q_auto/emoji/fluent/sparkles_color.svg"
      width="16"
      class="me-1"
    />
    법인 설립 To-Do list 무료 가이드 받아가세요!
    <img
      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/f_auto,q_auto/establish-company/jcsvjax1kbtkyljndxkd.svg"
      width="16"
      class="ms-1"
    />
  </a>

  <nav
    class="navbar navbar-expand-lg py-3"
    style="
      position: fixed;
      top: 2.6em;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0);
      z-index: 1000;
      transition: top 0.3s ease, background-color 0.3s ease,
        backdrop-filter 0s ease, box-shadow 0.3s ease;
      backdrop-filter: blur(0px);
      font-size: 14.5px;
    "
    id="navbar"
  >
    <div class="container">
      <a class="navbar-brand text-black fw-bold" href="/">
        <img
          src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/v1728527430/establish-company/belwfyvxsbomb1h00ink.svg"
          alt="Logo"
          width="auto"
          height="26"
          class="d-inline-block align-text-top me-1"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="padding: 0 50px 0 0">
          <li class="nav-item me-0 me-md-3">
            <a class="nav-link" href="/#free">무료 법인 설립</a>
          </li>
          <li class="nav-item me-0 me-md-3">
            <a class="nav-link" href="/#benefit">혜택</a>
          </li>
          <li class="nav-item me-0 me-md-3">
            <a class="nav-link" href="/#process">진행 절차</a>
          </li>
          <li class="nav-item me-0 me-md-3">
            <a class="nav-link" href="https://zuzu.network" target="_blank"
              >ZUZU <i class="bi bi-box-arrow-up-right"></i
            ></a>
          </li>
        </ul>
        <a
          href="/inquiry"
          class="btn btn-primary me-2"
          type="button"
          id="inquiry_button"
          style="font-weight: 600; font-size: 0.9rem"
        >
          지금 상담하기
        </a>
      </div>
    </div>
  </nav>
</header>
