<section>
  <div class="container">
    <div class="col-md-12 top-title-section">
      <div class="row align-items-center">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h5 class="fw-normal mb-4 fw-semibold" style="line-height: 1.3">
              창업의 시작, 법인 설립을 무료로!
            </h5>
            <h1
              class="display-4 mb-4"
              style="
                line-height: 1.3;
                font-weight: 700;
                letter-spacing: -0.03em;
              "
            >
              법인 설립은 걱정마시고<br />대표님은 창업만 하세요!
            </h1>
            <div class="d-grid gap-1 d-sm-flex mb-3 gap-3">
              <a
                href="/inquiry"
                id="inquiry_button"
                class="btn btn-primary btn-lg px-3 fw-bold"
                >지금 상담하기</a
              >
              <a
                class="btn btn-outline-primary btn-lg px-3 fw-bold"
                href="https://app.zuzu.network/incorporation-welcome"
                id="welcome_button"
              >
                상담없이 바로 시작
              </a>
            </div>
            <div>
              <div class="pt-5">
                <div class="logo-slider-container">
                  <div class="slider-content" style="mix-blend-mode: multiply">
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/o5kcthvl8cautdarl9sy.png"
                      alt="tmap-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/gzshkufsuvexzkaoux7x.png"
                      alt="wadiz-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/uqmfdk5vgrwzf9745dkc.png"
                      alt="sparta-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/owz8rqmzlvfxuodcuvcp.png"
                      alt="bunjang-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/gtswr8kplg6gglssva8z.png"
                      alt="musinsa-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/uvyyqxpobelkewsy9ux6.png"
                      alt="carmoa-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/owjqisgsdigiwobkekqo.png"
                      alt="rebellions-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/ualvr6luwg91u7xecxae.png"
                      alt="carrot-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/knhiq3eeywa3ln069p9i.png"
                      alt="learningspoons-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/pwzwkuz3mapx1zzwm4hk.png"
                      alt="jaranda-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/z6qgl8kaknz92xsbns7y.png"
                      alt="imweb-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/lf3ntrp53tc4ylt2v5yj.png"
                      alt="inflearn-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/eqbklgsspjefg4s6q9kg.png"
                      alt="seoulrobotics-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/vyulkv6v2kunoloahi4h.png"
                      alt="geekble-logo"
                      class="logo-slide"
                    />
                    <img
                      src="https://res.cloudinary.com/zuzu-homepage/image/upload/q_auto,f_auto/establish-company/l3gnrpxxmg53xjfodx3o.png"
                      alt="marpple-logo"
                      class="logo-slide"
                    />
                  </div>
                </div>
                <p class="fw-medium small opacity-50">
                  ZUZU는 이미 8,800여 개의 기업들과 함께 합니다.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div style="text-align: right">
              <img
                src="https://res.cloudinary.com/zuzu-homepage/image/upload/v1731688121/establish-company/l5abtcjofjgda8rvd63y.png"
                alt="메인이미지"
                class="lg-only"
                style="width: 480px; border-radius: 16px"
              />
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="small fw-medium opacity-50 text-center mt-3">
          법률 상담 및 등기 대행, 세무 상담은 파트너사를 통해 진행되며 ZUZU는
          어떠한 수수료도 취하지 않습니다.
        </p>
      </div>
    </div>
  </div>
</section>
